<!DOCTYPE html>
<html lang="pl">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>Szyldy reklamowe: reklama zewnętrzna – KOT Wrocław</title>
<meta name="description" content="Firma KOT z Wrocławia zajmuje się profesjonalnym przygotowywaniem reklamy wizualnej. W naszej ofercie znajdziesz m.in. reklamy zewnętrzne i szyldy reklamowe.">
<link rel="stylesheet" type="text/css" href="css/kot5.css" />
<link rel="stylesheet" type="text/css" href="css/kot2.css" />
<link rel="stylesheet" type="text/css" href="css/02/style.css" />
<link rel="stylesheet" type="text/css" href="/css/kac-sm.css" />
<link rel="stylesheet" type="text/css" href="/css/rwd.css" />
<script src="css/02/jquery.js" type="text/javascript"></script>
<script src="js/moje.js" type="text/javascript"></script>
<script src="js/rwd.js" type="text/javascript"></script>
<meta http-equiv="Content-Language" content="pl" />
<meta property="og:site_name" content="www.kot.wroc.pl" />
<meta property="og:title" content="Firma K.O.T." />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.kot.wroc.pl/" />
<meta property="og:image" content="http://www.kot.wroc.pl/img/oferta/akt/a10.jpg" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Firma K.O.T." />
<meta name="twitter:url" content="http://www.kot.wroc.pl/">
<meta name="twitter:description" content="Firma K.O.T. Pracownia Reklamy Wizualnej jest na rynku od 1995 roku." />
<meta name="twitter:image" content="http://www.kot.wroc.pl/img/oferta/akt/a10.jpg" />

<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<!--<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>-->

<!-- Add fancyBox -->
<link rel="stylesheet" href="css/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="css/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<!--<link rel="stylesheet" href="css/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />-->
<!--<script type="text/javascript" src="css/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>-->
<!--<script type="text/javascript" src="css/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>-->

<!--<link rel="stylesheet" href="css/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />-->
<!--<script type="text/javascript" src="css/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>-->

 
<!-- styles needed by jScrollPane -->
<link type="text/css" href="css/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>

<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>

<link href="/css/kac-sm.css" rel="stylesheet" />
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71372322-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
</head>

<body>
  <div id="wrapper">
        <div id="hamburger" style="display: none;">
            <button type="button" class="navbar-toggle open_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
        </div>
        <div id="rwd_overlay" class="close_menu" style="display: none;">&nbsp;</div>
        <!-- -->
  <div id="header">

  <div id="menu">
       <span id="close_menu_rwd"  style="display: none;">
            <button type="button" class="navbar-toggle close_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>  
        </span>
        <ul>
        <li> <div> Firma<br><svg width="120" height="10" >
  <rect width="120" height="10" style="stroke:black;
	fill: rgb(0,0,0);
	stroke-width: 2px;" />
</svg> </div> </li>
        <li><a href="oferta.html">Oferta<br><svg width="120" height="10" >
  
  <rect width="120" height="10" style="stroke:black;
	fill: none;
	stroke-width: 2px;" />
</svg> </a> </li>
        <li><a href="litery-blokowe.html">Realizacje<br><svg width="120" height="10" >
  <rect width="120" height="10" style="stroke:black;
	fill: none;
	stroke-width: 2px;" />
</svg></a></li>
        <li><a href="kontakt.html">Kontakt<br><svg width="120" height="10" >
  <rect width="120" height="10" style="stroke:black;
	fill: none;
	stroke-width: 2px;" />
</svg> </a> </li>
        </ul>
    </div> 

    
<div id="czar">
<div class="tlo foldtr">

<img src="img/logtlo/logokot.jpg" alt="logo" class="obraz" />

</div>
</div>
</div>
<div id="czar" style="margin-top:30px;">
<div class="tlotest foldtr " >
<div id="container">
<div class="scroll-pane">
<h1 class="margin">Reklama zewnętrzna – szyldy podświetlane</h1>
<h2 class="margin">Witamy na stronie Pracowni Reklamy Wizualnej K.O.T.!</h2>
<p class="margin"><strong>Firma K.O.T.</strong> działa na rynku reklamy wizualnej już <strong>od 1995 roku</strong>.<br />
Specjalizujemy się w szeroko pojętej <strong>reklamie zewnętrznej</strong>, m.in. w projektowaniu, produkcji oraz montażu elementów trwałego oznakowania obiektów. Nasza oferta obejmuje zróżnicowane formy reklam, takie jak: <a href="/litery-blokowe.html#ad-image-0">litery blokowe podświetlane</a>, loga podświetlane, a także <strong>szyldy informacyjne</strong>.</p>
<h2 class="margin">Kasetony frezowane i tabliczki informacyjne</h2>
<p class="margin">W naszej ofercie znajdą Państwo również kasetony podświetlane, tablice oraz <a href="/tabliczki.html#ad-image-0">tabliczki informacyjne</a>. Oferujemy również wiele innych produktów, stosowanych do komunikacji wizualnej z klientami.</p>
<p class="margin">Mając na uwadze oczekiwania klientów, często podejmujemy się <strong>trudnych i nietypowych realizacji</strong>. W <a href="oferta.html">produkcji reklam</a> stosujemy sprawdzone i trwałe materiały: płyty kompozytowe typu Dibond, pleksi bezbarwną i kolorową, jak również twarde i spienione pcv, aluminium, hips, axpet, wydruki cyfrowe, folie reklamowe itp. Dysponujemy odpowiednio wyposażoną pracownią, w której znajduje się między innymi stół frezujący CNC, ploter laserowy oraz ploter do cięcia folii. Oferujemy profesjonalne podejście do klienta, rzetelną i solidną obsługę oraz fachowe doradztwo.<br><br> Serdecznie zapraszamy do współpracy!</p>
</div>
</div>
</div>
</div>
<div id="czarrealiz" style="margin-top:20px;">
<div class="realizacje foldtr" >
<div class="realitex" >
<h2>OSTATNIE REALIZACJE:</h2>

<section class="hidden" > 
<tekst>
Tablica informacyjna z płyty kompozytowej dibond 
<br>
o powierzchni srebrnej szczotkowanej. Poszczególne paski opisowe montowane na dystansach z aluminium umożliwiają łatwą wymianę treści tablicy. Opisy drukowane na bezbarwnej folii samoprzylepnej. Nagłówek wycinany laserowo z kolorowej pleksi.	
<br>
<br>
Realizacja dla centrum medycznego echo-med we wrocławiu.

</tekst>
<ry>img/oferta/akt/a9.jpg</ry>  
<rys>img/oferta/akt/a10.jpg</rys>
</section>

<section class="hidden" > 
<tekst>
Tabliczki oznaczenia obiektu wykonane z dibondu 
<br>
o powierzchni srebrnej szczotkowanej i bezbarwnej pleksi. Wydruki na folii bezbarwnej. Montaż na uchwytach FISSO alu mix z anodowanego aluminium.	
<br>
<br>
Realizacja dla Centrum treningowego Spartan we wrocławiu.

</tekst>
<ry>img/oferta/akt/a7.jpg</ry>  
<rys>img/oferta/akt/a8.jpg</rys>
</section>

<section class="hidden" > 
<tekst>
Tablice pamiątkowe z poliwęglanu bezbarwnego montowane na dystansach stalowych, upamiętniające Zbigniewa Rysia, kuriera AK oraz powstanie 
<br>
Muchoboru Wielkiego.
<br>
<br>
Realizacja dla Gminy Wrocław.

</tekst>
<ry>img/oferta/akt/a5.jpg</ry>  
<rys>img/oferta/akt/a6.jpg</rys>
</section>

<section class="hidden" > 
<tekst>Tablice informacyjne oraz tablice magnetyczne wykonane z płyt kompozytowych Dibond i blachy powlekanej. Na tablicach naklejone wydruki cyfrowe laminowane bezbarwną fiolią matową.
Montaż na dystansach FISSO steel ze stali nierdzewnej.
<br>
<br>
Realizacja dla TrelleborgVibracoustic w Komornikach.
</tekst>
<ry>img/oferta/akt/a1.jpg</ry>  
<rys>img/oferta/akt/a2.jpg</rys>
</section>


<section class="hidden" > 
<tekst>
Tablice z płyt kompozytowych Dibond o powierzchni srebrnej szczotkowanej z wydrukami cyfrowymi na 
<br>
folii samoprzylepnej.
<br>
<br>
Realizacja dla Cechu Rzemiosł Budowlanych we Wrocławiu.
</tekst>
<ry>img/oferta/akt/a3.jpg</ry>  
<rys>img/oferta/akt/a4.jpg</rys>
</section>
</div>

<div class="realibut" >
<img src="js\lib\ad_nastepna.png" alt="next" onclick="myFunction()" id="nex"  style=" float: right">


<img src="js\lib\ad_wstecz.png"  alt="wstecz" onclick="myFunction2()" id="pre" style=" float: left" >
</div>

</div>

<div class="laczenie">
<div class="zdjrealiz foldtr" >

<rysunki>
<div>
<ul>
<li> <a class="fancybox-thumb" rel="fancybox-thumb" href="" id="mys"  title="Silhouettes (una cierta mirada)">
	<img src="" id="ims" class="cien" height=222 width=280 alt="." />
</a> </li>	
	
		<li> <a class="fancybox-thumb" rel="fancybox-thumb" href="" id="my"  title="Silhouettes (una cierta mirada)">
	<img src="" id="im" class="cien" height=222 width=280 alt="." />
</a> </li>	

</div>
</rysunki>
</div>
</div>
</div>

<div id="czardol" style="margin-top:30px;" >
<div class="stopka foldtr" >


<p class="margin2"> <b>K.O.T. Pracownia Reklamy Wizualnej</b>: reklama zewnętrzna, szyldy, kasetony,pylony, tablice reklamowe, tabliczki, obróbka bannerów, frezowanie, grawerowanie.<br>
50-422 Wrocław,ul. Rakowiecka 65-67 (teren CEFARM S.A.); telefon. 71 328 59 94, fax. 71 341 30 05, kom. (+48) 506 082 500, e-mail: <a href="mailto:adres e-mail">biuro@kot.wroc.pl</a> <p>




</div>
</div>

    </div>
<script src="js/zdjindex.js" type="text/javascript"></script>
    <div class="kac-sm-panel" itemscope itemtype="http://schema.org/LocalBusiness">
    <ul>
        <li class="kac-sm-block kac-sm-fb"><a href="https://www.facebook.com/KOT-Pracownia-Reklamy-Wizualnej-976722012385222" itemprop="sameAs" target="_blank"><img src="/images/social/fb-icon.png" alt="Jesteśmy na Facebook"><span class="kac-sm-with">Facebook</span></a></li>
        <li class="kac-sm-block kac-sm-gplus"><a href="https://plus.google.com/103348238988907851864" itemprop="sameAs" rel="publisher" target="_blank"><img src="/images/social/gplus-icon.png" alt="Jesteśmy na Google+" /><span>Google+</span></a></li>
		<!--<li class="kac-sm-block kac-sm-pkt"><a href="http://pkt.pl" itemprop="sameAs" rel="nofollow" target="_blank"><img src="/images/social/pkt-icon.png" alt="Wizytówka PKT" /><span class="kac-sm-text-black">Wizytówka</span></a></li>		
        --><li class="kac-sm-block kac-sm-twitter"><a href="https://twitter.com/KOT_sc_" itemprop="sameAs" target="_blank"><img src="/images/social/twitter-icon.png" alt="Jesteśmy na Twitter" /><span>Twitter</span></a></li>
		<!--<li class="kac-sm-block kac-sm-blog"><a href="http://blog.domena.com" itemprop="sameAs" target="_blank"><img src="/images/social/blog-icon.png" alt="Zapraszamy na nasz blog" /><span>Blog</span></a></li>
		<li class="kac-sm-block kac-sm-pinterest"><a href="http://pinterest.com" itemprop="sameAs" target="_blank"><img src="/images/social/pinterest-icon.png" alt="Jesteśmy na Pinterest" /><span>Pinterest</span></a></li>
		<li class="kac-sm-block kac-sm-youtube"><a href="http://youtube.com" itemprop="sameAs" target="_blank"><img src="/images/social/youtube-icon.png" alt="Jesteśmy na YouTube" /><span>YouTube</span></a></li>
		<li class="kac-sm-block kac-sm-goldenline"><a href="http://goldenline.com" itemprop="sameAs" target="_blank"><img src="/images/social/goldenline-icon.png" alt="Jesteśmy na Goldenline" /><span class="kac-sm-text-black">Goldenline</span></a></li>
		<li class="kac-sm-block kac-sm-allegro"><a href="http://allegro.pl" itemprop="sameAs" target="_blank"><img src="/images/social/allegro-icon.png" alt="Jesteśmy na Allegro" /><span>Allegro</span></a></li>
		<li class="kac-sm-block kac-sm-linkedin"><a href="http://linkedin.com" itemprop="sameAs" target="_blank"><img src="/images/social/linkedin-icon.png" alt="Jesteśmy na Linkedin" /><span>Linkedin</span></a></li>
		<li class="kac-sm-block kac-sm-googlekspert"><a href="http://plus.google.com" itemprop="sameAs" target="_blank"><img src="/images/social/googlekspert-icon.png" alt="Jesteśmy na Googl Ekspert" /><span class="kac-sm-text-black">Expert</span></a></li>
		<li class="kac-sm-block kac-sm-payback"><a href="http://payback.com" itemprop="sameAs" target="_blank"><img src="/images/social/payback-icon.png" alt="Zbieraj z nami punkty PayBack" /><span>Payback</span></a></li>
        --></ul>
    </div>
<span itemscope itemtype="http://schema.org/LocalBusiness">
<span itemprop="location" itemscope itemtype="http://schema.org/Place">
		<meta itemprop="name" content="K.O.T. s.c."/>
		<link itemprop="url" href="http://www.kot.wroc.pl/">
		<link itemprop="hasMap" href="https://goo.gl/maps/ntGi2R43bYJ2">
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<meta itemprop="streetAddress" content="Rakowiecka 65/67"/>
		<meta itemprop="addressLocality" content="Wrocław"/>
		<meta itemprop="addressRegion" content="Dolnośląskie"/>
		<meta itemprop="postalCode" content="50-422"/>
	</span>
	<span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
		<meta itemprop="latitude" content="51.094028" />
		<meta itemprop="longitude" content="17.069395" />
	</span> 
</span>
<meta itemprop="telephone" content="782 183 219"/>
<meta itemprop="telephone" content="71 328 59 94"/>
<meta itemprop="telephone" content="71 341 30 05"/>
<meta itemprop="telephone" content="506 082 500 "/>
 
</span>
</body>
</html>



